div {
  background-color: #FFF4A3;
}

.navigationbar{
background-color:#2c2d31;
border-color:#2c2d31;
position:sticky;
top:0;
border-style:solid;
border-radius:10px;
font-size:1vw;
}

.navigationtitle{
font-family: Verdana;
font-size:1.5vw;
position:relative;
left:20px
}

.container1{
background-color:#2c2d31;
border-color:#2c2d31;
border-style:solid;
border-radius:10px;
padding:20px;
margin: 50px 10%;
font-size:1vw;
}

.embedtitle{
font-weight:1000;
font-family:Verdana;
}

body{
color:white;
margin:0px;
background-color:#323338;
}
