body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#0a0a0a;
    color:white;
}

.introducioncontainer{
    border-size:5px;
    border-radius:5%;
    border-color:gray
    margin:auto;
    text-align:left;
    padding:40px 20px:
}

.container{
    max-width:1100px;
    margin:auto;
    padding:80px 20px;
}

h1{
    font-size:64px;
    font-weight:800;
}

.gold{
    color:#d4a63c;
}

.card{
    background:#121212;
    padding:20px;
    border-radius:10px;
    margin:15px 0;
}

button{
    padding:12px 24px;
    border:none;
    border-radius:8px;
    background:#d4a63c;
    color:black;
    font-weight:bold;
}

